@{
    ViewData["Title"] = "Text-Based Game Maker";
}

<h2>User's Home</h2>
<p>Settings (DefaultGame, ..., ...)</p>
<br />
<p>Default Game is </p>

<select asp-for="defaultGame"
        asp-items="DefaultGameProject">

</select>
